<% for(var i = 0; i < items.length; i++) { %>
<tr>
    <td><%= items[i].name %></td>
    <td><%= items[i].category %></td>
    <td><%= items[i].allergy %></td>
    <td>  
        <!-- Button to update item -->
        <a href="/update-item?id=<%= items[i]._id%>">
            <!-- Update button -->
            <div class="form-group" >
                <button id="update-color" type="submit" class="btn text-dark"> Update </button>
            </div>
        </a>
     </td>
     <td>  
     <!-- Button to delete item -->
         <a class="action-item" id="delete-color">
                 <!-- Delete button -->
                 <div class="form-group" >
                     <a class = "btn border-shadow delete" type="submit" data-id=<%= items[i]._id%>  class="btn text-dark"> Delete </a>
                 </div>
        </a>
     </td>
</tr>
<% } %>